In [9]:
import pandas as pd
df = pd.read_csv("test1.csv",delimiter='\t',names=['id','datetime','lat','long',"week","ordre"],low_memory=False)
df['datetime'] = pd.to_datetime(df['datetime'])

In [10]:
# for week in dfdf.loc[(df["week"]==week) & (df["id"]==id),"id"]=id*256+
for i in range(10, 21):
    print(i)
    ids=df[df["id"]!="DEL"]["id"].unique()
    for id in ids:
        df.loc[(df["week"]==i)& (df["id"]==id),"id"]=int(id)*256+i*25
# from random import randrange
# def affectid(id):
#     weeks = df["week"].unique()
#     randnums= np.random.randint(week*65,101575768,5)
#     qids = np.random.choice(indexes,replace=False,size=nb_to_del)

10
11
12

KeyboardInterrupt:

In [8]:
df

             id            datetime       lat       long  week     ordre
0           506 2015-03-05 00:00:00  4.870147  45.772140    10         0
1           506 2015-03-03 00:00:00  4.870218  45.772095    10         1
2           506 2015-03-03 00:00:00  4.870210  45.772072    10         2
3           506 2015-03-03 00:00:00  4.870210  45.772072    10         3
4           506 2015-03-05 00:00:00  4.870210  45.772072    10         4
...         ...                 ...       ...        ...   ...       ...
34551844  28435 2015-03-13 16:00:00  2.343094  48.891650    11  34551844
34551845  28435 2015-03-11 16:00:00  2.343094  48.891650    11  34551845
34551846  28435 2015-03-12 16:00:00  2.343094  48.891649    11  34551846
34551847  28435 2015-03-12 16:00:00  2.343094  48.891649    11  34551847
34551848  28435 2015-03-13 22:00:00  2.343127  48.891772    11  34551848

[34551849 rows x 6 columns]

In [ ]:
det setid(id,week):
    df.loc[(df["week"]==week)& (df["id"]==id),"id"]=int(id)*256+i*25
for i in range(10, 21):
    print(i)
    df['id']=df['id'].apply(lambda x: setid(x,i))

In [ ]:
import datetime, time
import random
from random import randrange
def rand_lat(lat):
    r=randrange(2)
    if(r==0):
        return lat + random.uniform(0, 0.0009)
    else:
        return lat - random.uniform(0, 0.0009)
    



df['lat']=df['lat'].apply(lambda x: rand_lat(x))

In [ ]:
import datetime, time
import random
from random import randrange
def rand_lat(long):
    r=randrange(2)
    if(r==0):
        return long + random.uniform(0, 0.0009)
    else:
        return long - random.uniform(0, 0.0009)
    



df['long']=df['long'].apply(lambda x: rand_lat(x))

In [ ]:
df.loc[df["id"]=='DEL',["lat","long"]]=0,0

In [ ]:
df.to_csv(f'test3.csv', header=False, index=False,sep='\t')